<h1>Movie List</h1>
<% if user_signed_in? %>
  Logged in as <strong><%= current_user.email %></strong>.
  <%= link_to "Logout", destroy_user_session_path, method: :delete %>
  <%= link_to "Favorites", favorites_path  %>
<% else %>
  <%= link_to "Sign up", new_user_registration_path %> |
  <%= link_to "Login", new_user_session_path  %> | 
  <%= link_to "Favorites", favorites_path  %>
<% end %>
<div>
<%= link_to  "add new movie", new_movie_path %>
</div>

<ul>
  <% @movies.each do |movie| %>
    <li>
      <%= link_to movie.title, movie_path(movie) %>
    </li>
  <% end %>
</ul>


