
<% if user_signed_in? %>
  Logged in as <strong><%= current_user.email %></strong>.
  <span><%= link_to "Logout", destroy_user_session_path, method: :delete %><span> |
  <span><%= link_to "Favorites", favorites_path  %></span>
<% else %>
  <span><%= link_to "Sign up", new_user_registration_path %> </span> |
  <span><%= link_to "Login", new_user_session_path  %> </span> | 
  <span><%= link_to "Favorites", favorites_path  %></span> 
<% end %>

<div class="movie">
<h1>Movie List</h1>
<ul>
  <% @movies.each do |movie| %>
    <li>
      <%= link_to movie.title, movie_path(movie) %>
    </li>
  <% end %>
</ul>

<div>
<%= link_to  "add new movie", new_movie_path %>
</div>
</div>

